body{
  background-color: black;
    color:seashell;
  font-size: 20px;
  font-family: monospace;
  display: visible;
}
*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  font-size:62.5%;
  font-family: "Quattrocento";
}

#container{
  width: 100vw;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  max-width:80rem;
  margin:0 auto;
  padding: 2rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-center {
  justify-content:center;
  align-items: center;
}

.justify-center{
  justify-content: center;
}
.text-center {
  text-align: center;
}
.hidden {
  display:none;
}

#start{
  font-size: 2.4rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color:chartreuse;
  background: linear-gradient(90deg, rgb(24,85,199) 0%, rgb(10,99,240)100%);
  border-radius: 4px;
}
#start:hover{
  cursor: pointer;
  box-shadow:0 0.4rem 1.4rem 0 rgb(24,85,199);
  transition: transform 150ms;
  transform: scale(1.03);
}

#highscore{
  font-size: 2.4rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color:chartreuse;
  background: linear-gradient(90deg, rgb(24,85,199) 0%, rgb(10,99,240)100%);
  border-radius: 4px;
}
#highscore:hover{
  cursor: pointer;
  box-shadow:0 0.4rem 1.4rem 0 rgb(24,85,199);
  transition: transform 150ms;
  transform: scale(1.03);
}
#highscoreContainer{
  font-size: 2rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color:chartreuse;
  background: linear-gradient(90deg, rgb(24,85,199) 0%, rgb(10,99,240)100%);
  border-radius: 4px;
  display: none;
}
#highscore-initials{
  display: inline-block;
  padding-left: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}
#Highscore-info{
  font-size: 2rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  text-decoration: none;
  color:chartreuse;
  background: linear-gradient(90deg, rgb(24,85,199) 0%, rgb(10,99,240)100%);
  border-radius: 4px;
  display: none;
}

#highscore-score{
  float: right;
  padding-right: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}

#finalScore{
  padding-bottom: 0.5rem;
  font-size: x-large;
  font-family: sans-serif;
  font-weight: bold;
}
#btn-return{
  font-size: 1 rem;
}

#question{
  display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(18,93,255) ;
    font-size: 2.5rem;
    min-width: 80rem;
}
#question p{
  margin : 0;
  padding : 15px;
  font-size: 1.25em;
}

#choices{
  width : 480px;
  position: absolute;
  right : 0;
  top : 125px;
  padding : 10px
}
.choice{
  display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 4px;
    background: rgb(18,93,255) ;
    font-size: 3rem;
    min-width: 80rem;
}
.choice:hover{
  cursor: pointer;
    box-shadow:0 0.4rem 1.4rem 0 rgb(24,85,199);
    transform: scale(1.02);
    transform: transform 100ms;
}

#timer{
  font-size: 1.5rem;
  position: absolute;
  height : 100px;
  width : 200px;
  bottom : 0px;
  text-align: center;
}
#counter{
  font-size: 1.5em;
}


@media screen and (max-width:768px) {
  .choice-container {
      min-width:40rem;
  }
}